/* FormValidation.css */
.formSubmit {
  width: 60vw;
  margin: 300px 300px;
  background: #ccc;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

span.error {
  color: red;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
