:root {
  font-size: 16px;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: green;
}

.content {
  display: flex;

  align-items: center;
  flex-direction: column;
}
.content button {
  background-color: red;
  color: white;
  font-size: large;
  border: none;
  border-radius: 6px;
}

.card {
  border: 2px solid #ced4da; /* Adding border */
/* border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
} */
/* 
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  height: 200px;
}

.card-body {
  background-color: #f8f9fa;
}

.card-title {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  color: #555;
}

.list-group-item {
  border-color: #dee2e6;
  color: #777;
} */

/* Adjustments for a more compact appearance */
/* .list-group-item {
  padding: 8px 16px;
}

.list-group-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
a {
  text-decoration: none;
} */

/* for Loading component */
/* .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
/* Adjust height to fill the entire viewport */
/* } */

/* for menucard app  */
/* 
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1,
.btn,
.card-body {
  font-family: "Kalnia", serif;
  font-family: "Playfair Display", serif;
}

/* for digitalclOCK */
/* 
.clock {
  height: 80px;
  width: 250px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  background-color: #174ed4;
  color: white;
  font-weight: 700;
} */

/* .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* * {
  background: #454545;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-weight: 500;
  margin-top: 50px;
} */
